In [1]:
from sdv import load_demo

In [3]:
metadata, tables = load_demo(metadata=True)

In [4]:
metadata.to_dict()

{'tables': {'users': {'primary_key': 'user_id',
   'fields': {'user_id': {'type': 'id', 'subtype': 'integer'},
    'country': {'type': 'categorical'},
    'gender': {'type': 'categorical'},
    'age': {'type': 'numerical', 'subtype': 'integer'}}},
  'sessions': {'primary_key': 'session_id',
   'fields': {'session_id': {'type': 'id', 'subtype': 'integer'},
    'user_id': {'ref': {'field': 'user_id', 'table': 'users'},
     'type': 'id',
     'subtype': 'integer'},
    'device': {'type': 'categorical'},
    'os': {'type': 'categorical'}}},
  'transactions': {'primary_key': 'transaction_id',
   'fields': {'transaction_id': {'type': 'id', 'subtype': 'integer'},
    'session_id': {'ref': {'field': 'session_id', 'table': 'sessions'},
     'type': 'id',
     'subtype': 'integer'},
    'timestamp': {'type': 'datetime', 'format': '%Y-%m-%d'},
    'amount': {'type': 'numerical', 'subtype': 'float'},
    'approved': {'type': 'boolean'}}}}}

In [5]:
tables

{'users':    user_id country gender  age
 0        0     USA      M   34
 1        1      UK      F   23
 2        2      ES   None   44
 3        3      UK      M   22
 4        4     USA      F   54
 5        5      DE      M   57
 6        6      BG      F   45
 7        7      ES   None   41
 8        8      FR      F   23
 9        9      UK   None   30,
 'sessions':    session_id  user_id  device       os
 0           0        0  mobile  android
 1           1        1  tablet      ios
 2           2        1  tablet  android
 3           3        2  mobile  android
 4           4        4  mobile      ios
 5           5        5  mobile  android
 6           6        6  mobile      ios
 7           7        6  tablet      ios
 8           8        6  mobile      ios
 9           9        8  tablet      ios,
 'transactions':    transaction_id  session_id           timestamp  amount  approved
 0               0           0 2019-01-01 12:34:32   100.0      True
 1               1           0 2019-01-01 12:42:21    55.3      True
 2               2           1 2019-01-07 17:23:11    79.5      True
 3               3           3 2019-01-10 11:08:57   112.1     False
 4               4           5 2019-01-10 21:54:08   110.0     False
 5               5           5 2019-01-11 11:21:20    76.3      True
 6               6           7 2019-01-22 14:44:10    89.5      True
 7               7           8 2019-01-23 10:14:09   132.1     False
 8               8           9 2019-01-27 16:09:17    68.0      True
 9               9           9 2019-01-29 12:10:48    99.9      True}

In [6]:
from sdv import SDV

sdv = SDV()
sdv.fit(metadata, tables)

2019-11-25 16:35:27,509 - INFO - modeler - Modeling users
2019-11-25 16:35:27,510 - INFO - metadata - Loading transformer CategoricalTransformer for field country
2019-11-25 16:35:27,511 - INFO - metadata - Loading transformer CategoricalTransformer for field gender
2019-11-25 16:35:27,512 - INFO - metadata - Loading transformer NumericalTransformer for field age
2019-11-25 16:35:27,539 - INFO - modeler - Modeling sessions
2019-11-25 16:35:27,539 - INFO - metadata - Loading transformer CategoricalTransformer for field device
2019-11-25 16:35:27,540 - INFO - metadata - Loading transformer CategoricalTransformer for field os
2019-11-25 16:35:27,551 - INFO - modeler - Modeling transactions
2019-11-25 16:35:27,552 - INFO - metadata - Loading transformer DatetimeTransformer for field timestamp
2019-11-25 16:35:27,552 - INFO - metadata - Loading transformer NumericalTransformer for field amount
2019-11-25 16:35:27,552 - INFO - metadata - Loading transformer BooleanTransformer for field approved
/home/xals/.virtualenvs/SDV/lib/python3.6/site-packages/pandas/core/frame.py:7143: RuntimeWarning: Degrees of freedom <= 0 for slice
  baseCov = np.cov(mat.T)
/home/xals/.virtualenvs/SDV/lib/python3.6/site-packages/numpy/lib/function_base.py:2451: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)
/home/xals/.virtualenvs/SDV/lib/python3.6/site-packages/numpy/lib/function_base.py:2451: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)
2019-11-25 16:35:28,299 - INFO - modeler - Modeling Complete

In [7]:
sdv.sample_all(10)

{'users':    user_id country gender  age
 0        0      FR      M   41
 1        1      UK      M   48
 2        2      FR      F   61
 3        3      ES      F   48
 4        4     USA    NaN   14
 5        5      UK    NaN   40
 6        6      ES    NaN   37
 7        7      DE    NaN   52
 8        8      ES      F   45
 9        9      ES      F   46,
 'sessions':    session_id  user_id  device       os
 0           0        0  mobile  android
 1           1        0  mobile  android
 2           2        2  mobile      ios
 3           3        2  mobile      ios
 4           4        4  mobile      ios
 5           5        7  mobile  android
 6           6        8  mobile  android
 7           7        9  mobile      ios
 8           8        9  mobile      ios,
 'transactions':     transaction_id  session_id                     timestamp      amount  \
 0                0           0 2019-01-13 09:04:43.841495296  104.653370
 1                1           1 2019-01-13 09:05:10.478101248  110.258541
 2                2           1 2019-01-13 09:05:10.478101248  111.537307
 3                3           0 2019-01-13 09:04:43.834843136  107.559958
 4                4           1 2019-01-13 09:05:10.478102528  105.894175
 5                5           1 2019-01-13 09:05:10.478103296   91.163287
 6                6           0 2019-01-13 09:04:43.865285888   89.776084
 7                7           1 2019-01-13 09:05:10.478100992  104.319781
 8                8           1 2019-01-13 09:05:10.478101248  110.948264
 9                9           0 2019-01-13 09:04:43.851251712   97.959864
 10              10           1 2019-01-13 09:05:10.478102528   90.812841
 11              11           1 2019-01-13 09:05:10.478102528  104.189625
 12              12           0 2019-01-13 09:04:43.840671744  101.818085
 13              13           1 2019-01-13 09:05:10.478102016  100.180457
 14              14           1 2019-01-13 09:05:10.478101248  108.841044
 15              15           4 2019-01-08 15:20:48.908520960   80.647928
 16              16           0 2019-01-13 09:04:43.839424512  102.095410
 17              17           1 2019-01-13 09:05:10.478103040   80.479839
 18              18           1 2019-01-13 09:05:10.478102272   93.136450
 19              19           4 2019-01-08 15:20:48.644995584   91.889224
 20              20           0 2019-01-13 09:04:43.854621184   96.178556
 21              21           1 2019-01-13 09:05:10.478101248  112.241266
 22              22           1 2019-01-13 09:05:10.478102016  103.893851
 23              23           4 2019-01-08 15:20:48.357267968   97.523135
 24              24           0 2019-01-13 09:04:43.830457344  111.319295
 25              25           1 2019-01-13 09:05:10.478102528   91.407533
 26              26           1 2019-01-13 09:05:10.478102016   98.601993
 27              27           4 2019-01-08 15:20:48.778796288   87.142150
 28              28           5 2019-01-14 16:49:33.582022144  110.427982
 29              29           5 2019-01-14 16:49:33.581722624  105.718311
 30              30           5 2019-01-14 16:49:33.581889536  107.819611
 31              31           0 2019-01-13 09:04:43.841137408  103.881774
 32              32           1 2019-01-13 09:05:10.478102528   94.277283
 33              33           1 2019-01-13 09:05:10.478102272   93.259689
 34              34           4 2019-01-08 15:20:48.331752192  101.205109
 35              35           5 2019-01-14 16:49:33.581950720   94.527853
 36              36           5 2019-01-14 16:49:33.582152960   97.431130
 37              37           5 2019-01-14 16:49:33.581928448   94.727554
 38              38           6 2019-01-11 20:59:52.497328640  108.141832
 39              39           6 2019-01-11 20:59:52.497328640  113.729753
 40              40           0 2019-01-13 09:04:43.829956096  109.721716
 41              41           1 2019-01-13 09:05:10.478102016   95.369571
 42              42           1 2019-01-13 09:05:10.478103040   88.588423
 43              43           4 2019-01-08 15:20:48.729502208   87.429172
 44              44           5 2019-01-14 16:49:33.581812992   85.816540
 45              45           5 2019-01-14 16:49:33.581463552  106.088556
 46              46           5 2019-01-14 16:49:33.581943552   96.960598
 47              47           6 2019-01-11 20:59:52.497328640  113.868324
 48              48           6 2019-01-11 20:59:52.497328640  111.495581
 49              49           7 2019-01-12 13:08:16.572689152   89.807801
 50              50           8 2019-01-12 13:08:14.085691392   95.836909

     approved
 0       True
 1       True
 2       True
 3       True
 4       True
 5       True
 6       True
 7       True
 8       True
 9      False
 10     False
 11      True
 12      True
 13      True
 14      True
 15     False
 16      True
 17      True
 18      True
 19      True
 20     False
 21      True
 22      True
 23     False
 24      True
 25     False
 26      True
 27      True
 28      True
 29      True
 30      True
 31      True
 32      True
 33     False
 34     False
 35      True
 36      True
 37      True
 38      True
 39      True
 40      True
 41      True
 42      True
 43      True
 44      True
 45      True
 46      True
 47      True
 48      True
 49      True
 50      True  }