In [1]:
from sdv import load_demo

In [2]:
metadata, tables = load_demo(metadata=True)

In [3]:
metadata.to_dict()

{'tables': {'users': {'primary_key': 'user_id',
   'fields': {'user_id': {'type': 'id', 'subtype': 'integer'},
    'country': {'type': 'categorical'},
    'gender': {'type': 'categorical'},
    'age': {'type': 'numerical', 'subtype': 'integer'}}},
  'sessions': {'primary_key': 'session_id',
   'fields': {'session_id': {'type': 'id', 'subtype': 'integer'},
    'user_id': {'ref': {'field': 'user_id', 'table': 'users'},
     'type': 'id',
     'subtype': 'integer'},
    'device': {'type': 'categorical'},
    'os': {'type': 'categorical'}}},
  'transactions': {'primary_key': 'transaction_id',
   'fields': {'transaction_id': {'type': 'id', 'subtype': 'integer'},
    'session_id': {'ref': {'field': 'session_id', 'table': 'sessions'},
     'type': 'id',
     'subtype': 'integer'},
    'timestamp': {'type': 'datetime', 'format': '%Y-%m-%d'},
    'amount': {'type': 'numerical', 'subtype': 'float'},
    'approved': {'type': 'boolean'}}}}}

In [4]:
tables

{'users':    user_id country gender  age
 0        0     USA      M   34
 1        1      UK      F   23
 2        2      ES   None   44
 3        3      UK      M   22
 4        4     USA      F   54
 5        5      DE      M   57
 6        6      BG      F   45
 7        7      ES   None   41
 8        8      FR      F   23
 9        9      UK   None   30,
 'sessions':    session_id  user_id  device       os
 0           0        0  mobile  android
 1           1        1  tablet      ios
 2           2        1  tablet  android
 3           3        2  mobile  android
 4           4        4  mobile      ios
 5           5        5  mobile  android
 6           6        6  mobile      ios
 7           7        6  tablet      ios
 8           8        6  mobile      ios
 9           9        8  tablet      ios,
 'transactions':    transaction_id  session_id           timestamp  amount  approved
 0               0           0 2019-01-01 12:34:32   100.0      True
 1               1           0 2019-01-01 12:42:21    55.3      True
 2               2           1 2019-01-07 17:23:11    79.5      True
 3               3           3 2019-01-10 11:08:57   112.1     False
 4               4           5 2019-01-10 21:54:08   110.0     False
 5               5           5 2019-01-11 11:21:20    76.3      True
 6               6           7 2019-01-22 14:44:10    89.5      True
 7               7           8 2019-01-23 10:14:09   132.1     False
 8               8           9 2019-01-27 16:09:17    68.0      True
 9               9           9 2019-01-29 12:10:48    99.9      True}

In [5]:
metadata.validate()

In [6]:
metadata.validate(tables)

In [7]:
metadata._metadata['tables']['users']['primary_key'] = 'country'

In [8]:
metadata.validate()

MetadataError: id field `user_id` is neither a primary or a foreign key

In [9]:
metadata._metadata['tables']['users']['primary_key'] = 'user_id'

In [10]:
metadata.validate()

In [11]:
metadata._metadata['tables']['users']['fields']['gender']['type'] = 'numerical'

In [12]:
metadata.validate()

In [13]:
metadata.validate(tables)

MetadataError: Invalid values found in column `gender` of table `users`: `could not convert string to float: 'M'`