### Demo "walmart"

We have a store series, each of those have a size and a category and additional information in a given date: average temperature in the region, cost of fuel in the region, promotional data, the customer price index, the unemployment rate and whether the date is a special holiday.

From those stores we obtained a training of historical data 
between 2010-02-05 and 2012-11-01. This historical data includes the sales of each department on a specific date.
In this notebook, we will show you step-by-step how to download the "Walmart" dataset, explain the structure and sample the data.

In this demonstration we will show how SDV can be used to generate synthetic data. And lately, this data can be used to train machine learning models.

*The dataset used in this example can be found in [Kaggle](https://www.kaggle.com/c/walmart-recruiting-store-sales-forecasting/data), but we will show how to download it from SDV.*

### Data model summary

<p style="text-align: center"><b>stores</b><p>

| Field | Type        | Subtype | Additional Properties |
|-------|-------------|---------|-----------------------|
| Store | id          | integer | Primary key           |
| Size  | numerical   | integer |                       |
| Type  | categorical |         |                       |

Contains information about the 45 stores, indicating the type and size of store.

<p style="text-align: center"><b>features</b><p>

| Fields       | Type      | Subtype | Additional Properties       |
|--------------|-----------|---------|-----------------------------|
| Store        | id        | integer | foreign key (stores.Store)  |
| Date         | datetime  |         | format: "%Y-%m-%d"          |
| IsHoliday    | boolean   |         |                             |
| Fuel_Price   | numerical | float   |                             |
| Unemployment | numerical | float   |                             |
| Temperature  | numerical | float   |                             |
| CPI          | numerical | float   |                             |
| MarkDown1    | numerical | float   |                             |
| MarkDown2    | numerical | float   |                             |
| MarkDown3    | numerical | float   |                             |
| MarkDown4    | numerical | float   |                             |
| MarkDown5    | numerical | float   |                             |

Contains historical training data, which covers to 2010-02-05 to 2012-11-01.

<p style="text-align: center"><b>depts</b><p>

| Fields       | Type      | Subtype | Additional Properties        |
|--------------|-----------|---------|------------------------------|
| Store        | id        | integer | foreign key (stores.Stores)  |
| Date         | datetime  |         | format: "%Y-%m-%d"           |
| Weekly_Sales | numerical | float   |                              |
| Dept         | numerical | integer |                              |
| IsHoliday    | boolean   |         |                              |

Contains additional data related to the store, department, and regional activity for the given dates.

### 1. Load data

Let's start downloading the data set. In this case, we will download the data set *walmart*. We will use the SDV function `load_demo`, we can specify the name of the dataset we want to use and if we want its Metadata object or not. To know more about the demo data [see the documentation](https://sdv-dev.github.io/SDV/api/sdv.demo.html).

In [1]:
from sdv import load_demo

metadata, tables = load_demo(dataset_name='walmart', metadata=True)

INFO - Loading table stores
INFO - Loading table features
INFO - Loading table depts

Our dataset is downloaded from an [Amazon S3 bucket](http://sdv-datasets.s3.amazonaws.com/index.html) that contains all available data sets of the `load_demo` method.

### 2. Create an instance of SDV and train the instance

Once we download it, we have to create an SDV instance. With that instance, we have to analyze the loaded tables to generate a statistical model from the data. In this case, the process of adjusting the model is quickly because the dataset is small. However, with larger datasets it can be a slow process.

In [2]:
from sdv import SDV

sdv = SDV()
sdv.fit(metadata, tables=tables)

INFO - Modeling stores
INFO - Loading transformer CategoricalTransformer for field Type
INFO - Loading transformer NumericalTransformer for field Size
INFO - Modeling depts
INFO - Loading transformer DatetimeTransformer for field Date
INFO - Loading transformer NumericalTransformer for field Weekly_Sales
INFO - Loading transformer NumericalTransformer for field Dept
INFO - Loading transformer BooleanTransformer for field IsHoliday
INFO - Modeling features
INFO - Loading transformer DatetimeTransformer for field Date
INFO - Loading transformer NumericalTransformer for field MarkDown1
INFO - Loading transformer BooleanTransformer for field IsHoliday
INFO - Loading transformer NumericalTransformer for field MarkDown4
INFO - Loading transformer NumericalTransformer for field MarkDown3
INFO - Loading transformer NumericalTransformer for field Fuel_Price
INFO - Loading transformer NumericalTransformer for field Unemployment
INFO - Loading transformer NumericalTransformer for field Temperature
INFO - Loading transformer NumericalTransformer for field MarkDown5
INFO - Loading transformer NumericalTransformer for field MarkDown2
INFO - Loading transformer NumericalTransformer for field CPI
INFO - Modeling Complete

Note: We may not want to train the model every time we want to generate new synthetic data. We can [save](https://sdv-dev.github.io/SDV/api/sdv.sdv.html#sdv.sdv.SDV.save) the SDV instance to [load](https://sdv-dev.github.io/SDV/api/sdv.sdv.html#sdv.sdv.SDV.save) it later.

### 3. Generate synthetic data

Once the instance is trained, we are ready to generate the synthetic data.

The easiest way to generate synthetic data for the entire dataset is to call the `sample_all` method. By default, this method generates only 5 rows, but we can specify the row number that will be generated with the `num_rows` argument. To learn more about the available arguments, see [sample_all](https://sdv-dev.github.io/SDV/api/sdv.sampler.html#sdv.sampler.Sampler.sample_all).

In [3]:
samples = sdv.sample_all()

This returns a dictionary with a `pandas.DataFrame` for each table.

In [4]:
samples['stores'].head()

  Type    Size  Store
0    A  246421      0
1    B  101653      1
2    B  149370      2
3    B   86468      3
4    C    7703      4

In [5]:
samples['features'].head()

,Date,MarkDown1,Store,IsHoliday,MarkDown4,MarkDown3,Fuel_Price,Unemployment,Temperature,MarkDown5,MarkDown2,CPI
0,2011-10-09 03:08:43.017056768,6893.109081,0,False,NaN,NaN,3.347564,NaN,64.794222,6653.340383,65.129589,146.314647
1,2011-12-11 06:28:45.549379072,NaN,0,False,2028.10673,NaN,3.338502,6.839839,62.707540,NaN,8321.455672,149.725961
2,2010-01-14 08:59:13.278471680,-4611.501659,0,False,NaN,-54633.624043,3.514647,5.800018,45.156123,NaN,NaN,173.136556
3,2011-11-03 09:36:35.068498176,10198.372303,0,False,NaN,-8417.349682,3.195244,5.856891,70.328883,7021.086130,NaN,152.523479
4,2012-09-04 16:15:21.479766272,14899.947285,0,False,NaN,NaN,2.944646,6.887388,85.053296,12144.532402,10886.509626,139.517963

In [6]:
samples['depts'].head()

                           Date  Weekly_Sales  Store  Dept  IsHoliday
0 2011-07-05 05:39:04.576852736  51183.491903      0    33      False
1 2011-11-19 13:41:56.459749888  25908.645710      0    37      False
2 2011-10-13 16:16:41.476217600   9646.520687      0    71      False
3 2011-09-11 03:56:14.725833472  23035.729599      0    64      False
4 2010-11-19 20:35:42.432448768  11745.744019      0    13      False

We may not want to generate data for all tables in the dataset, rather for just one table. This is possible with SDV using the `sample` method. To use it we only need to specify the name of the table we want to synthesize and the row numbers to generate. In this case, the "walmart" data set has 3 tables: stores, features and depts.

In the following example, we will generate 1000 rows of the "features" table.

In [7]:
sdv.sample('features', 1000)

{'features':                              Date     MarkDown1  Store  IsHoliday  \
 0   2012-08-23 10:52:37.774681344  13966.037644      5      False
 1   2011-07-14 19:04:23.880190720           NaN      5      False
 2   2011-05-15 00:21:00.399277056           NaN      5      False
 3   2011-09-29 16:04:14.657976576  15692.818648      5      False
 4   2012-02-02 01:14:58.155269888   9960.687695      5      False
 5   2011-03-31 09:38:41.608038144  11183.251948      5      False
 6   2012-09-30 13:46:30.558435840   7548.289858      5      False
 7   2012-11-21 09:12:59.703204864   5806.214722      5      False
 8   2011-01-16 20:32:24.967801344           NaN      5      False
 9   2010-03-22 09:16:19.507253504           NaN      5      False
 10  2013-03-10 07:24:26.572299520   7023.819698      5      False
 11  2009-09-25 19:41:30.437349376           NaN      5      False
 12  2010-04-30 04:40:04.605824512           NaN      5      False
 13  2011-10-03 08:32:28.122816000  12571.877316      5      False
 14  2012-06-16 21:35:30.261682176   7015.015378      5      False
 15  2014-05-11 07:13:26.092959232  12319.653226      5      False
 16  2010-09-11 02:36:18.472609024           NaN      5      False
 17  2013-02-19 21:43:17.490688768  12762.224552      5      False
 18  2011-02-08 15:26:23.980229888           NaN      5      False
 19  2011-01-30 12:01:56.974689280           NaN      5      False
 20  2011-07-08 22:28:25.751960832           NaN      5      False
 21  2011-07-24 17:25:12.162481920           NaN      5      False
 22  2012-09-02 20:44:53.502243072   9755.990151      5      False
 23  2012-04-01 07:54:37.014063360   8451.353699      5      False
 24  2011-07-23 13:53:35.907096576           NaN      5      False
 25  2012-10-26 14:53:19.098626048   5975.111542      5      False
 26  2011-05-28 11:05:55.499933952           NaN      5      False
 27  2014-07-12 20:34:27.897361664   3332.676567      5      False
 28  2011-05-11 23:08:11.587894272           NaN      5      False
 29  2012-06-25 16:54:21.602104576   4653.486566      5      False
 ..                            ...           ...    ...        ...
 970 2011-04-22 11:25:03.531625216           NaN      5      False
 971 2010-02-09 22:18:19.810169088           NaN      5      False
 972 2013-04-21 06:48:37.079974912   7079.849414      5      False
 973 2010-07-06 22:57:48.818292736           NaN      5      False
 974 2013-02-27 13:57:58.801661440  13345.973580      5      False
 975 2012-01-14 08:34:19.654289408           NaN      5      False
 976 2012-01-17 05:27:18.345837056           NaN      5      False
 977 2010-11-13 03:53:29.101046528           NaN      5      False
 978 2009-10-02 23:31:32.298744576           NaN      5      False
 979 2013-06-30 17:04:46.655297792   8997.426964      5      False
 980 2011-10-31 13:01:18.844876288   9802.564954      5      False
 981 2011-09-28 03:01:25.809664256   9963.159368      5      False
 982 2011-11-21 21:28:38.188370432  10441.099070      5      False
 983 2013-03-04 06:39:30.548978944   2517.608096      5      False
 984 2010-06-21 01:17:51.504797696           NaN      5      False
 985 2011-09-11 20:15:50.141434112   3670.350409      5      False
 986 2011-07-02 19:37:11.141213696           NaN      5      False
 987 2011-06-30 15:48:03.182660864   2915.629124      5      False
 988 2011-09-07 07:37:39.314147840           NaN      5      False
 989 2010-09-25 06:19:51.371841792           NaN      5      False
 990 2012-09-02 12:51:37.309709312   4157.454365      5      False
 991 2011-07-14 05:20:26.930698496           NaN      5      False
 992 2011-04-11 04:33:57.327077632           NaN      5      False
 993 2013-05-06 14:04:43.278784768  -1297.273044      5      False
 994 2011-01-10 22:38:46.486513152           NaN      5      False
 995 2011-09-17 04:07:32.355040256           NaN      5      False
 996 2012-04-22 17:23:41.057953536   6409.925423      5      False
 997 2011-05-21 03:21:56.557201664           NaN      5      False
 998 2012-05-13 09:37:48.987640064   5516.962231      5      False
 999 2014-02-01 19:13:10.572230912  11456.357126      5      False

        MarkDown4    MarkDown3  Fuel_Price  Unemployment  Temperature  \
 0    8748.750102 -1688.858721    3.347857      7.534950    16.147128
 1    5900.538953  4442.623216    3.540299      5.568432    98.651345
 2            NaN          NaN    2.818221      6.848896    41.857014
 3    2873.390977 -2232.446514    2.945883      9.729674    76.756956
 4    5909.028213   -67.206543    4.004159      9.797635    69.436709
 5    3872.560921  -636.475939    3.304318      8.854320    62.143731
 6    5089.923333 -3794.836572    3.204667           NaN    75.877533
 7    4158.666410  1025.192638    3.718865      5.663626    51.237364
 8            NaN          NaN    3.496991     12.005820    71.282318
 9            NaN          NaN    3.532372      9.623413    72.362220
 10   4726.341429 -2225.109691    3.980280           NaN    63.267927
 11           NaN          NaN    2.670434     11.694855    69.658374
 12           NaN          NaN    2.510188      7.522683    74.387135
 13   6727.914202          NaN    3.145781      7.321454    45.010391
 14   3121.222847  1126.671384    3.960196      6.281708    54.404827
 15   3207.703496   494.623894    4.196488           NaN   107.315552
 16           NaN          NaN    3.155080      6.485507    47.935640
 17   7607.787161 -2232.142843    4.053635      6.349369    88.010687
 18           NaN          NaN    3.180540      7.200711    69.393230
 19           NaN  2662.400355    3.007381      7.699426    42.307280
 20           NaN          NaN    2.893921           NaN    90.311751
 21   2863.040706          NaN    3.451202      7.824692    73.780190
 22   6040.676044          NaN    3.743704      7.443302    71.639380
 23   2334.944586  5904.605109    3.079342      6.345924    37.570979
 24           NaN          NaN    3.548039     10.271698    58.050560
 25   1781.926366  3638.888361    4.172234      9.135203    54.786683
 26           NaN   977.808289    3.528066      7.409820    57.664453
 27  -1077.028831  2838.392169    3.368230      1.698638    46.684798
 28           NaN  4610.271465    3.333326      6.831507    77.061433
 29   3024.349905  4121.860975    3.828599      8.263840    33.915300
 ..           ...          ...         ...           ...          ...
 970          NaN          NaN    3.657181     11.558585   109.477185
 971          NaN          NaN    2.386399      6.813057    69.339056
 972  -286.821240  4443.777038    4.064364      7.570997    49.515672
 973          NaN          NaN    2.978902      9.208587    40.147897
 974  6009.063019  1740.920554    3.464419      4.277871    55.756948
 975          NaN          NaN    3.443281      7.097015    59.730150
 976          NaN          NaN    3.366862      6.488021   100.197771
 977 -1785.029591          NaN    3.298981      8.323129    56.252190
 978          NaN          NaN    3.331812      9.989063    90.072844
 979  5276.388479  -674.517586    3.942822      6.055277    61.494199
 980  7646.589570  -729.960157    3.051955      9.745329    81.700890
 981          NaN  3485.985594    3.158836      6.701792    87.036177
 982          NaN -1918.521054    3.537424      7.237311    80.656820
 983  3425.696694  4769.397895    4.046429      8.912156    56.369307
 984          NaN          NaN    3.051927      7.879048    35.204015
 985  2706.923730          NaN    2.810774      7.867471    40.244560
 986          NaN          NaN    2.915585      8.152129    76.214476
 987  3546.607334  3273.196902    3.072598      9.058267    76.882769
 988          NaN          NaN    3.341780      7.778613    90.447828
 989          NaN          NaN    3.150613      9.152813    59.692125
 990  1676.564168          NaN    3.704808      4.890333    39.395309
 991          NaN          NaN    3.124723      7.839009    32.133565
 992          NaN          NaN    3.466266      2.895240    36.789769
 993  1315.801626 -4225.309270    3.437399      6.450276    58.495348
 994          NaN          NaN    3.670907      9.040463    84.238006
 995  2593.647891          NaN    2.982617      7.478209    46.832010
 996  2823.027295  5745.189736    3.681380      8.587509    59.722043
 997          NaN          NaN    3.517885      7.659787    56.514648
 998  3639.782360  2551.414484    3.908594     10.424830    51.179384
 999  6529.430435 -3556.500362    4.438096      4.610241    64.634235

         MarkDown5    MarkDown2         CPI
 0     3711.132529  8960.953412  173.880166
 1             NaN -6322.652665  167.410846
 2             NaN          NaN  168.022007
 3     2707.112542  6708.823575  119.498065
 4     4334.208609  3197.671098  119.030319
 5     6236.054353          NaN  165.128007
 6     5068.679103  6241.618783         NaN
 7     -166.164938          NaN  190.029238
 8             NaN          NaN  161.454078
 9             NaN          NaN  201.094954
 10    2491.423047  3495.733580         NaN
 11            NaN          NaN  144.366429
 12            NaN          NaN   77.240842
 13    1408.061408  3825.378860  181.446740
 14    5104.946343  3650.286974  205.746520
 15    3246.838459  6929.583409         NaN
 16            NaN          NaN  222.853902
 17   -1972.009198 -4186.148795  196.260938
 18            NaN          NaN  167.065725
 19            NaN          NaN  196.411375
 20            NaN          NaN         NaN
 21            NaN          NaN  143.573830
 22    5536.365685          NaN  212.944392
 23    6860.533716  4346.702333  188.250089
 24            NaN          NaN  207.802251
 25    6597.264742  3121.490811  137.760230
 26            NaN  3721.868101  157.730210
 27    2037.276616  3473.459304  241.640309
 28            NaN          NaN  205.968314
 29    2647.107858 -3310.900076  180.972793
 ..            ...          ...         ...
 970           NaN          NaN  190.670312
 971           NaN          NaN  215.763863
 972   5244.756490  -814.490100  182.145353
 973           NaN          NaN  191.420031
 974  10821.968236          NaN  274.921201
 975           NaN          NaN  203.234281
 976           NaN          NaN  220.286487
 977           NaN          NaN  144.945312
 978           NaN          NaN  211.549420
 979   2521.112154  3560.437180  185.985374
 980   7558.858952          NaN  174.403419
 981  -1236.202615          NaN  215.237275
 982   3642.259185          NaN  142.340278
 983   3559.460498  7312.681416  110.408799
 984           NaN          NaN  175.176594
 985  -2002.445275  4285.639612  138.366770
 986           NaN          NaN  190.118287
 987   2254.722713          NaN  126.739608
 988           NaN          NaN  208.719767
 989           NaN          NaN  157.172781
 990   6795.145458          NaN  242.023460
 991           NaN          NaN  187.405592
 992           NaN          NaN  182.489634
 993   4397.500851 -1094.897142  219.947266
 994           NaN          NaN  206.737934
 995           NaN          NaN  177.334424
 996   5068.095585  2161.108871  183.155698
 997           NaN          NaN  149.160091
 998   6991.537753          NaN   74.287769
 999  -1750.843051  6650.708928  123.990382

 [1000 rows x 12 columns]}

SDV has tools to evaluate the synthetic data generated and compare them with the original data. To see more about the evaluation tools, [see the documentation](https://sdv-dev.github.io/SDV/api/sdv.evaluation.html#sdv.evaluation.evaluate).