### Demo "walmart"

We have a store series, each of those have a size and a category and additional information in a given date: average temperature in the region, cost of fuel in the region, promotional data, the customer price index, the unemployment rate and whether the date is a special holiday.

From those stores we obtained a training of historical data 
between 2010-02-05 and 2012-11-01. This historical data includes the sales of each department on a specific date.
In this notebook, we will show you step-by-step how to download the "Walmart" dataset, explain the structure and sample the data.

In this demonstration we will show how SDV can be used to generate synthetic data. And lately, this data can be used to train machine learning models.

*The dataset used in this example can be found in [Kaggle](https://www.kaggle.com/c/walmart-recruiting-store-sales-forecasting/data), but we will show how to download it from SDV.*

### Data model summary

<p style="text-align: center"><b>stores</b><p>

| Field | Type        | Subtype | Additional Properties |
|-------|-------------|---------|-----------------------|
| Store | id          | integer | Primary key           |
| Size  | numerical   | integer |                       |
| Type  | categorical |         |                       |

Contains information about the 45 stores, indicating the type and size of store.

<p style="text-align: center"><b>features</b><p>

| Fields       | Type      | Subtype | Additional Properties       |
|--------------|-----------|---------|-----------------------------|
| Store        | id        | integer | foreign key (stores.Store)  |
| Date         | datetime  |         | format: "%Y-%m-%d"          |
| IsHoliday    | boolean   |         |                             |
| Fuel_Price   | numerical | float   |                             |
| Unemployment | numerical | float   |                             |
| Temperature  | numerical | float   |                             |
| CPI          | numerical | float   |                             |
| MarkDown1    | numerical | float   |                             |
| MarkDown2    | numerical | float   |                             |
| MarkDown3    | numerical | float   |                             |
| MarkDown4    | numerical | float   |                             |
| MarkDown5    | numerical | float   |                             |

Contains historical training data, which covers to 2010-02-05 to 2012-11-01.

<p style="text-align: center"><b>depts</b><p>

| Fields       | Type      | Subtype | Additional Properties        |
|--------------|-----------|---------|------------------------------|
| Store        | id        | integer | foreign key (stores.Stores)  |
| Date         | datetime  |         | format: "%Y-%m-%d"           |
| Weekly_Sales | numerical | float   |                              |
| Dept         | numerical | integer |                              |
| IsHoliday    | boolean   |         |                              |

Contains additional data related to the store, department, and regional activity for the given dates.

### 1. Load data

Let's start downloading the data set. In this case, we will download the data set *walmart*. We will use the SDV function `load_demo`, we can specify the name of the dataset we want to use and if we want its Metadata object or not. To know more about the demo data [see the documentation](https://sdv-dev.github.io/SDV/api/sdv.demo.html).

In [1]:
from sdv import load_demo

metadata, tables = load_demo(dataset_name='walmart', metadata=True)

2020-01-21 17:58:53,882 - INFO - metadata - Loading table stores
2020-01-21 17:58:53,889 - INFO - metadata - Loading table features
2020-01-21 17:58:53,904 - INFO - metadata - Loading table depts

Our dataset is downloaded from an [Amazon S3 bucket](http://sdv-datasets.s3.amazonaws.com/index.html) that contains all available data sets of the `load_demo` method.

We can now visualize the metadata structure

In [3]:
metadata.visualize()

And also validate that the metadata is correctly defined for our data

In [4]:
metadata.validate(tables)

### 2. Create an instance of SDV and train the instance

Once we download it, we have to create an SDV instance. With that instance, we have to analyze the loaded tables to generate a statistical model from the data. In this case, the process of adjusting the model is quickly because the dataset is small. However, with larger datasets it can be a slow process.

In [5]:
from sdv import SDV

sdv = SDV()
sdv.fit(metadata, tables=tables)

2020-01-21 17:59:55,255 - INFO - modeler - Modeling stores
2020-01-21 17:59:55,255 - INFO - metadata - Loading transformer CategoricalTransformer for field Type
2020-01-21 17:59:55,256 - INFO - metadata - Loading transformer NumericalTransformer for field Size
2020-01-21 17:59:55,265 - INFO - modeler - Modeling features
2020-01-21 17:59:55,266 - INFO - metadata - Loading transformer DatetimeTransformer for field Date
2020-01-21 17:59:55,266 - INFO - metadata - Loading transformer NumericalTransformer for field MarkDown1
2020-01-21 17:59:55,267 - INFO - metadata - Loading transformer BooleanTransformer for field IsHoliday
2020-01-21 17:59:55,268 - INFO - metadata - Loading transformer NumericalTransformer for field MarkDown4
2020-01-21 17:59:55,268 - INFO - metadata - Loading transformer NumericalTransformer for field MarkDown3
2020-01-21 17:59:55,269 - INFO - metadata - Loading transformer NumericalTransformer for field Fuel_Price
2020-01-21 17:59:55,270 - INFO - metadata - Loading transformer NumericalTransformer for field Unemployment
2020-01-21 17:59:55,271 - INFO - metadata - Loading transformer NumericalTransformer for field Temperature
2020-01-21 17:59:55,272 - INFO - metadata - Loading transformer NumericalTransformer for field MarkDown5
2020-01-21 17:59:55,272 - INFO - metadata - Loading transformer NumericalTransformer for field MarkDown2
2020-01-21 17:59:55,273 - INFO - metadata - Loading transformer NumericalTransformer for field CPI
2020-01-21 17:59:56,631 - INFO - modeler - Modeling depts
2020-01-21 17:59:56,632 - INFO - metadata - Loading transformer DatetimeTransformer for field Date
2020-01-21 17:59:56,632 - INFO - metadata - Loading transformer NumericalTransformer for field Weekly_Sales
2020-01-21 17:59:56,632 - INFO - metadata - Loading transformer NumericalTransformer for field Dept
2020-01-21 17:59:56,633 - INFO - metadata - Loading transformer BooleanTransformer for field IsHoliday
/home/xals/.virtualenvs/SDV/lib/python3.6/site-packages/numpy/core/fromnumeric.py:56: FutureWarning: Series.nonzero() is deprecated and will be removed in a future version.Use Series.to_numpy().nonzero() instead
  return getattr(obj, method)(*args, **kwds)
2020-01-21 17:59:57,989 - INFO - modeler - Modeling Complete

Note: We may not want to train the model every time we want to generate new synthetic data. We can [save](https://sdv-dev.github.io/SDV/api/sdv.sdv.html#sdv.sdv.SDV.save) the SDV instance to [load](https://sdv-dev.github.io/SDV/api/sdv.sdv.html#sdv.sdv.SDV.save) it later.

### 3. Generate synthetic data

Once the instance is trained, we are ready to generate the synthetic data.

The easiest way to generate synthetic data for the entire dataset is to call the `sample_all` method. By default, this method generates only 5 rows, but we can specify the row number that will be generated with the `num_rows` argument. To learn more about the available arguments, see [sample_all](https://sdv-dev.github.io/SDV/api/sdv.sampler.html#sdv.sampler.Sampler.sample_all).

In [6]:
samples = sdv.sample_all()

This returns a dictionary with a `pandas.DataFrame` for each table.

In [7]:
samples['stores'].head()

  Type    Size  Store
0    C   81028      0
1    A  122307      1
2    A  124540      2
3    B  109672      3
4    C   35228      4

In [8]:
samples['features'].head()

,Date,MarkDown1,Store,IsHoliday,MarkDown4,MarkDown3,Fuel_Price,Unemployment,Temperature,MarkDown5,MarkDown2,CPI
0,2012-09-13 01:31:30.775811840,NaN,0,False,NaN,7785.295724,3.037932,6.290332,72.602357,5681.734289,7888.656382,165.399520
1,2012-11-27 00:26:44.554634240,NaN,0,False,NaN,12973.754312,4.261357,5.539619,62.373371,5860.986917,9441.356110,157.826969
2,2012-05-16 13:53:09.464182272,NaN,0,False,NaN,3883.114230,3.103896,6.799051,89.576446,NaN,NaN,166.326272
3,2012-05-29 06:42:48.808280320,NaN,0,False,NaN,4015.488761,4.123398,6.059213,65.260480,NaN,4564.425960,161.129574
4,2013-04-29 16:59:13.429207552,NaN,0,False,4216.13315,NaN,3.986936,6.560764,79.881974,NaN,8774.279265,166.986817

In [9]:
samples['depts'].head()

                           Date  Weekly_Sales  Store  Dept  IsHoliday
0 2011-04-02 23:40:14.963774720   9803.016920      0    53      False
1 2011-04-25 08:51:02.222472960  23929.038030      0    33      False
2 2011-11-13 20:20:53.581464576  13338.222324      0    79      False
3 2011-03-29 22:59:28.717564416  -7814.885283      0    42      False
4 2010-12-09 20:53:58.823911680  21832.345043      0     6      False

We may not want to generate data for all tables in the dataset, rather for just one table. This is possible with SDV using the `sample` method. To use it we only need to specify the name of the table we want to synthesize and the row numbers to generate. In this case, the "walmart" data set has 3 tables: stores, features and depts.

In the following example, we will generate 1000 rows of the "features" table.

In [10]:
sdv.sample('features', 1000)

{'features':                              Date     MarkDown1  Store  IsHoliday  \
 0   2011-11-26 22:50:50.278175232   4033.243116      5      False
 1   2012-02-26 12:14:06.823272448           NaN      5      False
 2   2011-06-28 07:25:12.659297280  -4099.823162      5      False
 3   2010-12-31 10:58:59.117937664           NaN      5      False
 4   2011-05-06 10:59:58.535729152           NaN      5      False
 5   2010-01-26 10:16:17.130268928           NaN      5       True
 6   2012-06-11 21:56:13.945143808   3691.030378      5      False
 7   2012-07-22 14:03:48.376190464   5347.916468      5      False
 8   2011-08-15 10:40:17.038290688   5220.225927      5      False
 9   2013-03-23 23:45:17.170947840  11823.063709      5      False
 10  2010-08-08 19:05:51.917021696           NaN      5      False
 11  2012-08-20 01:58:11.783987712   7797.716912      5      False
 12  2010-01-11 06:44:40.726410752           NaN      5      False
 13  2012-06-04 19:05:54.757458432  14448.000850      5      False
 14  2012-03-10 00:52:33.533465088           NaN      5      False
 15  2011-07-02 05:25:58.752059136   3026.842504      5      False
 16  2009-04-05 18:54:29.460541440           NaN      5      False
 17  2012-10-15 02:35:17.060225280   9928.366558      5      False
 18  2012-04-03 01:34:57.900938752   8391.142236      5      False
 19  2010-09-18 03:43:14.213726464           NaN      5       True
 20  2011-10-28 15:04:02.717405440   7520.471661      5      False
 21  2012-01-18 02:39:47.096078080           NaN      5      False
 22  2011-03-26 03:39:10.230001920           NaN      5      False
 23  2011-12-05 23:27:28.747907328  15420.046659      5      False
 24  2011-04-27 11:22:14.726310144   3771.697879      5      False
 25  2013-06-25 13:52:42.964599296  16407.823709      5      False
 26  2011-05-12 05:39:31.188401664           NaN      5      False
 27  2011-08-10 19:22:58.200620544   2798.629810      5      False
 28  2010-04-15 18:03:44.942540800           NaN      5      False
 29  2013-03-02 01:31:12.062973440   8110.114007      5      False
 ..                            ...           ...    ...        ...
 970 2012-07-06 23:12:05.885775616   7602.972329      5      False
 971 2011-03-09 15:10:54.455394816           NaN      5      False
 972 2012-07-14 07:53:22.638045184   5973.013409      5      False
 973 2011-09-07 04:41:56.127102208   2830.803990      5      False
 974 2011-08-30 19:49:02.470280704           NaN      5      False
 975 2011-08-24 12:29:09.182100480   6763.903333      5      False
 976 2010-11-22 07:07:14.026388480           NaN      5       True
 977 2012-09-05 19:01:41.733092352  10103.513980      5      False
 978 2011-12-31 23:10:16.569935360  -1630.700715      5      False
 979 2012-04-14 04:03:25.821634304           NaN      5      False
 980 2012-01-07 16:55:18.423175424   9897.353736      5      False
 981 2010-08-25 14:39:03.175105280   9772.396644      5      False
 982 2010-06-24 05:06:13.299238400           NaN      5      False
 983 2012-01-20 08:48:50.128166144           NaN      5      False
 984 2011-06-20 08:40:31.368415488           NaN      5      False
 985 2011-10-23 20:30:56.375303680           NaN      5      False
 986 2012-05-25 06:16:17.376726528  15307.263657      5      False
 987 2013-04-04 07:23:14.935485440  16852.892373      5      False
 988 2010-04-08 10:53:58.133332224           NaN      5      False
 989 2010-04-17 22:22:41.460924672           NaN      5      False
 990 2014-07-24 22:57:44.657226240   3146.109488      5      False
 991 2012-10-23 07:15:33.934808064   5853.704450      5      False
 992 2013-08-09 08:45:04.666409728  16878.149795      5       True
 993 2012-08-06 03:03:49.518622720   9737.840556      5      False
 994 2010-12-12 08:27:29.115394304   4228.372587      5      False
 995 2011-11-19 02:49:50.989170944     38.452838      5      False
 996 2011-05-12 10:15:47.764008448   5042.633847      5      False
 997 2013-03-10 20:34:16.405540352    151.374300      5      False
 998 2014-12-30 22:28:14.869587968   8726.310491      5      False
 999 2010-04-26 08:19:23.460692224           NaN      5      False

        MarkDown4     MarkDown3  Fuel_Price  Unemployment  Temperature  \
 0            NaN  -3696.538556    3.936527      9.971487    92.125627
 1            NaN           NaN    3.617629      4.653073    36.169999
 2   -1897.049058   5407.376316    2.732820      6.671837    42.510009
 3            NaN           NaN    3.313288      9.688966    59.632972
 4    7529.625687   -815.291572    2.790683      9.402812    67.835448
 5            NaN           NaN    2.479820     11.180252    82.712394
 6     841.636842           NaN    4.095016      7.139813    74.843201
 7    3444.143642   3390.039942    3.927309      9.039475    73.506419
 8            NaN    625.150530    3.122741      8.044130    63.261843
 9    4024.928034    513.241542    3.703730      6.375771    51.225174
 10   2617.687054           NaN    2.816377      8.333311    35.054430
 11           NaN   -423.507931    3.828593      7.776388    43.448972
 12           NaN           NaN    3.069068      7.610359    30.261977
 13   4754.123901  -2514.311144    3.198106      7.859289    52.382279
 14           NaN           NaN    3.900000      8.885484    70.909394
 15   2686.843556   -495.390494    3.804894      5.895941    45.700974
 16           NaN           NaN    2.357942      7.261280    68.552893
 17   3314.113361     69.557685    3.795029      8.474264    68.009099
 18   1787.005820   3663.352606    3.795056      7.355240    39.596160
 19           NaN           NaN    2.931235      7.028136    64.418320
 20           NaN    253.541288    3.555715      8.924493    51.249263
 21           NaN           NaN    3.376352     10.741278    96.034628
 22           NaN   2141.653818    2.473766      6.208414    17.026602
 23   5156.825369    858.236308    3.502676      8.340382    65.791361
 24           NaN  12405.555518    3.048602      8.306580    56.288324
 25   4930.665736  -3699.685077    4.162855      6.975098    14.969592
 26           NaN           NaN    2.827711      7.991887    20.368990
 27           NaN    924.249819    2.635903      8.392619    41.738024
 28           NaN           NaN    3.668116      7.196407    46.174831
 29  -1564.469293    272.876725    3.811514      8.561887    51.385320
 ..           ...           ...         ...           ...          ...
 970  1183.569560   1098.999116    3.531955      8.072088    45.887080
 971          NaN   3232.050686    3.728425     12.762510    82.691286
 972  1412.723535           NaN    3.734207      7.473431   104.266060
 973   711.053134           NaN    2.700579      7.129656    27.457105
 974          NaN           NaN    3.815226      5.914959    58.016349
 975          NaN           NaN    3.732735      8.690412    65.800211
 976  6936.103592           NaN    3.297204      9.417550    56.115414
 977  7333.883321   4267.363047    4.142049      7.754110    65.346043
 978          NaN           NaN    3.973328      5.945934    63.169112
 979          NaN    747.009278    3.968131      6.836087    50.952949
 980  3908.041640   -664.589064    3.177864           NaN    46.484494
 981  -735.664615  -1364.660679    2.160569      7.690529    49.660878
 982          NaN           NaN    3.444168     10.056978    55.031413
 983          NaN   3019.031143    3.453432      8.201753    73.910303
 984          NaN           NaN    3.444561     13.122864    93.814305
 985  2359.680548  -2063.156953    2.752076      8.599565    47.619160
 986  9283.371600   1608.127258    3.666995      5.419254    12.816148
 987  8159.964130    762.889877    3.465460      7.367102    63.991061
 988          NaN           NaN    2.741670      9.846459    79.675402
 989          NaN           NaN    2.853848      5.345897    60.995103
 990  1200.506206   1940.665104    4.628566      6.760579    55.297659
 991 -1201.605833   4470.115790    4.187143      6.860375    93.990250
 992  7206.270957   6687.314107    3.859599      9.645082    61.063903
 993  1747.881472    -63.691745    3.472009      6.730920    65.594320
 994  3313.508567    187.056248    2.306822      4.015429    33.616430
 995          NaN   1580.510472    3.615398      5.837822    47.764831
 996          NaN   4006.129653    2.730488      8.579200    33.012112
 997  -993.686787    954.668848    3.572906           NaN    27.193978
 998  2432.137300  -1157.602447    4.409246      4.392606    54.285733
 999          NaN           NaN    2.504258      6.466658    47.700546

         MarkDown5     MarkDown2         CPI
 0     4925.882655           NaN  149.341494
 1             NaN           NaN  180.848826
 2     3776.771563   2069.451153  214.218530
 3             NaN           NaN  193.915244
 4             NaN   3974.943990  123.275002
 5             NaN           NaN  180.852752
 6     7789.051602           NaN  157.035654
 7     4023.150030  -3097.770985  124.779560
 8             NaN           NaN  179.799377
 9     3880.162204   5495.419977  120.403422
 10            NaN           NaN  151.231910
 11    4039.149599   8205.652791  167.358107
 12            NaN           NaN  123.110273
 13    7890.117627   2017.174006  194.974508
 14            NaN           NaN  201.850629
 15    5544.534882           NaN  125.946461
 16            NaN           NaN  174.999444
 17    6549.094427    -94.820059  205.451653
 18     962.270288           NaN  154.184355
 19            NaN           NaN  184.133778
 20    5561.793721           NaN  182.473696
 21            NaN           NaN  185.659190
 22            NaN           NaN  202.419877
 23            NaN   4396.757737  164.711354
 24    2576.802356           NaN  178.762962
 25    7090.643462  -4079.013912  155.160877
 26            NaN   3132.113784  172.141134
 27    -322.391804  15030.654673  153.387281
 28            NaN           NaN  156.740680
 29    3860.945094           NaN  145.765935
 ..            ...           ...         ...
 970   4413.501884   6165.155267  215.592258
 971           NaN           NaN  165.232172
 972   4955.932780           NaN  221.696722
 973  10465.622083  19037.081178  126.476010
 974           NaN  -1962.240251  183.777727
 975   8832.925225   4344.190328  164.904938
 976           NaN           NaN  174.013991
 977  12589.082384   -334.214099  159.413632
 978  -2654.588157   3337.866600  213.942959
 979   5709.120445   5316.144761  105.533390
 980    178.782530    287.903686         NaN
 981           NaN   6303.141470  226.770492
 982           NaN           NaN  108.864778
 983           NaN           NaN  192.758165
 984           NaN           NaN  127.743054
 985           NaN   7020.698986  177.473488
 986   5757.123703           NaN  171.705909
 987   5279.666690   5075.982378  168.261248
 988           NaN           NaN  176.206506
 989           NaN           NaN  183.464896
 990   3965.756959   3821.839741  193.461815
 991   2265.100848   3658.469279  103.283402
 992   2127.016604  10221.073800  136.738749
 993   4502.165192    212.389201  135.999347
 994   4036.145409   5501.540546  192.756149
 995   5755.428359   1781.137333  200.999766
 996   2465.540489           NaN  214.909732
 997    103.577614   4432.807063         NaN
 998   4176.381569   4702.734593  209.228426
 999           NaN           NaN  206.609810

 [1000 rows x 12 columns]}

SDV has tools to evaluate the synthetic data generated and compare them with the original data. To see more about the evaluation tools, [see the documentation](https://sdv-dev.github.io/SDV/api/sdv.evaluation.html#sdv.evaluation.evaluate).