# Relational Data Models

In this tutorial we will be showing how to model a real world multi-table dataset using SDV.

## About the datset

We have a store series, each of those have a size and a category and additional information in a given date: average temperature in the region, cost of fuel in the region, promotional data, the customer price index, the unemployment rate and whether the date is a special holiday.

From those stores we obtained a training of historical data 
between 2010-02-05 and 2012-11-01. This historical data includes the sales of each department on a specific date.
In this notebook, we will show you step-by-step how to download the "Walmart" dataset, explain the structure and sample the data.

In this demonstration we will show how SDV can be used to generate synthetic data. And lately, this data can be used to train machine learning models.

*The dataset used in this example can be found in [Kaggle](https://www.kaggle.com/c/walmart-recruiting-store-sales-forecasting/data), but we will show how to download it from SDV.*

### Data model summary

<p style="text-align: center"><b>stores</b><p>

| Field | Type        | Subtype | Additional Properties |
|-------|-------------|---------|-----------------------|
| Store | id          | integer | Primary key           |
| Size  | numerical   | integer |                       |
| Type  | categorical |         |                       |

Contains information about the 45 stores, indicating the type and size of store.

<p style="text-align: center"><b>features</b><p>

| Fields       | Type      | Subtype | Additional Properties       |
|--------------|-----------|---------|-----------------------------|
| Store        | id        | integer | foreign key (stores.Store)  |
| Date         | datetime  |         | format: "%Y-%m-%d"          |
| IsHoliday    | boolean   |         |                             |
| Fuel_Price   | numerical | float   |                             |
| Unemployment | numerical | float   |                             |
| Temperature  | numerical | float   |                             |
| CPI          | numerical | float   |                             |
| MarkDown1    | numerical | float   |                             |
| MarkDown2    | numerical | float   |                             |
| MarkDown3    | numerical | float   |                             |
| MarkDown4    | numerical | float   |                             |
| MarkDown5    | numerical | float   |                             |

Contains historical training data, which covers to 2010-02-05 to 2012-11-01.

<p style="text-align: center"><b>depts</b><p>

| Fields       | Type      | Subtype | Additional Properties        |
|--------------|-----------|---------|------------------------------|
| Store        | id        | integer | foreign key (stores.Stores)  |
| Date         | datetime  |         | format: "%Y-%m-%d"           |
| Weekly_Sales | numerical | float   |                              |
| Dept         | numerical | integer |                              |
| IsHoliday    | boolean   |         |                              |

Contains additional data related to the store, department, and regional activity for the given dates.

## Load relational data

Let's start downloading the data set. In this case, we will download the data set *walmart*. We will use the SDV function `load_demo`, we can specify the name of the dataset we want to use and if we want its Metadata object or not. To know more about the `load_demo` function [see its documentation](https://sdv-dev.github.io/SDV/api_reference/api/sdv.demo.load_demo.html).

In [1]:
# Setup logging and warnings - change ERROR to INFO for increased verbosity
import logging;
logging.basicConfig(level=logging.ERROR)

logging.getLogger().setLevel(level=logging.WARNING)
logging.getLogger('sdv').setLevel(level=logging.ERROR)

import warnings
warnings.simplefilter("ignore")

In [2]:
from sdv import load_demo

metadata, tables = load_demo(dataset_name='walmart', metadata=True)

Our dataset is downloaded from an [Amazon S3 bucket](http://sdv-datasets.s3.amazonaws.com/index.html) that contains all available data sets of the `load_demo` method.

We can now visualize the metadata structure

In [3]:
metadata.visualize()

And also validate that the metadata is correctly defined for our data

In [4]:
metadata.validate(tables)

In [5]:
from sdv.utils import display_tables

display_tables(tables, row=False)

## Model the data with SDV

Once we download it, we have to create an SDV instance. With that instance, we have to analyze the loaded tables to generate a statistical model from the data. In this case, the process of adjusting the model is quickly because the dataset is small. However, with larger datasets it can be a slow process.

In [6]:
from sdv import SDV

sdv = SDV()
sdv.fit(metadata, tables=tables)

Note: We may not want to train the model every time we want to generate new synthetic data. We can [save](https://sdv-dev.github.io/SDV/api/sdv.sdv.html#sdv.sdv.SDV.save) the SDV instance to [load](https://sdv-dev.github.io/SDV/api/sdv.sdv.html#sdv.sdv.SDV.save) it later.

## Generate synthetic data

Once the instance is trained, we are ready to generate the synthetic data.

The easiest way to generate synthetic data for the entire dataset is to call the `sample_all` method. By default, this method generates only 5 rows, but we can specify the row number that will be generated with the `num_rows` argument.

In [7]:
sdv.modeler.table_sizes

{'stores': 45, 'depts': 421570, 'features': 8190}

In [8]:
samples = sdv.sample_all()

This returns a dictionary with the same format as the input `tables`, with
a `pandas.DataFrame` for each table.

In [9]:
samples.keys()

dict_keys(['stores', 'depts', 'features'])

In [10]:
display_tables(samples, row=False)

We may not want to generate data for all tables in the dataset, rather for just one table. This is possible with SDV using the `sample` method. To use it we only need to specify the name of the table we want to synthesize and the row numbers to generate. In this case, the "walmart" data set has 3 tables: stores, features and depts.

In the following example, we will generate 1000 rows of the "features" table.

In [11]:
sdv.sample('features', 1000, sample_children=False)

,Date,MarkDown1,Store,IsHoliday,MarkDown4,MarkDown3,Fuel_Price,Unemployment,Temperature,MarkDown5,MarkDown2,CPI
0,2012-12-02 13:24:12.148327168,5144.609262,47,False,3981.646073,3589.538401,3.513805,5.199235,62.879820,4827.289540,5866.436547,152.702771
1,2011-05-08 07:09:00.613714688,NaN,49,False,NaN,NaN,3.287126,8.991303,76.983406,NaN,NaN,192.625440
2,2012-04-09 06:20:13.239147520,13993.159579,45,False,8223.325871,2494.203817,3.208195,4.552062,35.523377,4695.733980,6461.933876,184.164376
3,2010-05-07 17:20:50.946203136,NaN,46,False,NaN,NaN,2.773724,10.176746,80.670653,NaN,NaN,149.392084
4,2011-06-14 13:12:20.897366528,NaN,46,False,NaN,NaN,3.602552,8.401886,40.692018,NaN,NaN,113.599053
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2011-10-16 12:47:59.006597888,NaN,46,False,NaN,NaN,3.118889,3.491572,56.279788,NaN,NaN,203.524202
996,2011-05-15 13:01:32.838549248,-9374.111078,47,False,NaN,NaN,2.878941,7.115020,54.989339,-3122.797645,6894.404113,166.937136
997,2011-10-05 04:04:08.544343040,NaN,45,False,NaN,NaN,3.056614,8.295635,66.348713,NaN,NaN,186.551824
998,2012-08-03 22:42:54.278908672,4513.838809,48,False,NaN,926.223075,3.675561,7.189194,55.463122,1851.334779,NaN,144.194785
999,2012-12-06 09:09:15.231324160,864.789643,49,False,-38.023146,3633.101022,3.913365,7.254184,70.212240,6342.792460,-230.427124,145.170321