### Airbnb Dataset Synthesis

This notebook shows a usage example over a sample of the Airbnb New User Bookings dataset
available on Kaggle: https://www.kaggle.com/c/airbnb-recruiting-new-user-bookings

Before running this notebook, make sure to having downloaded the data and run the
`Airbnb Dataset Sampling` notebook which can be found in the same folder as this one.

In [1]:
from sdv import SDV

sdv = SDV()
sdv.fit('metadata_sample.json')

2019-10-22 10:29:16,429 - INFO - modeler - Modeling sessions
2019-10-22 10:29:16,430 - INFO - metadata - Loading table sessions
2019-10-22 10:29:16,502 - INFO - modeler - Modeling users
2019-10-22 10:29:16,502 - INFO - metadata - Loading table users
/home/xals/.virtualenvs/SDV/lib/python3.6/site-packages/pandas/core/frame.py:7143: RuntimeWarning: Degrees of freedom <= 0 for slice
  baseCov = np.cov(mat.T)
/home/xals/.virtualenvs/SDV/lib/python3.6/site-packages/numpy/lib/function_base.py:2451: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)
/home/xals/.virtualenvs/SDV/lib/python3.6/site-packages/numpy/lib/function_base.py:2451: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)
2019-10-22 10:29:20,048 - INFO - modeler - Modeling Complete

In [2]:
real = sdv.metadata.get_tables()

2019-10-22 10:29:20,122 - INFO - metadata - Loading table users
2019-10-22 10:29:20,134 - INFO - metadata - Loading table sessions

In [3]:
real['users'].sample(5)

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
493,493,2013-09-03,2013-09-03 07:50:06,2013-09-03,MALE,28.0,basic,25,en,direct,direct,untracked,iOS,iPhone,-unknown-,US
279,279,2013-08-16,2013-08-16 01:02:07,NaT,FEMALE,35.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
538,538,2012-10-01,2012-10-01 02:05:14,NaT,MALE,32.0,facebook,0,en,direct,direct,untracked,Web,iPad,Mobile Safari,NDF
355,355,2014-06-05,2014-06-05 14:26:42,NaT,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Firefox,NDF
38,38,2014-02-10,2014-02-10 10:45:07,2014-02-12,FEMALE,28.0,basic,0,en,direct,direct,tracked-other,Web,Windows Desktop,Chrome,NL

In [4]:
real['sessions'].sample(5)

,user_id,action,action_type,action_detail,device_type,secs_elapsed
5237,319,social_connections,data,user_social_connections,Android App Unknown Phone/Tablet,12944.0
5673,701,personalize,data,wishlist_content_update,Mac Desktop,555.0
9104,43,similar_listings,data,similar_listings,Windows Desktop,262.0
21749,168,push_notification_callback,-unknown-,-unknown-,Android Phone,277.0
3617,782,search_results,click,view_search_results,Mac Desktop,2968.0

In [5]:
length = len(real['users'])

In [6]:
length

1000

In [7]:
samples = sdv.sample_all(length, reset_primary_keys=True)

In [8]:
samples['users'].sample(5)

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
22,22,2012-07-14 12:53:26.127836672,2012-07-12 17:00:35.690141440,2013-03-17 14:07:50.216046080,-unknown-,NaN,basic,0,en,direct,direct,omg,Web,Mac Desktop,Chrome,US
930,930,2013-08-25 16:17:54.778186752,2013-08-31 14:46:46.286105344,2013-03-16 12:10:50.533478400,OTHER,32.0,facebook,0,en,direct,direct,untracked,Web,Windows Desktop,-unknown-,US
652,652,2013-12-02 02:02:21.712530944,2013-12-05 15:52:28.168336384,NaT,FEMALE,NaN,basic,0,en,direct,direct,omg,Web,Windows Desktop,Firefox,NDF
520,520,2014-09-14 04:49:16.088305152,2014-09-13 10:59:10.159555584,2014-01-24 22:27:33.632315392,FEMALE,51.0,basic,0,en,sem-brand,google,tracked-other,Web,Mac Desktop,Chrome,US
678,678,2013-08-03 16:53:10.797526784,2013-08-02 16:16:45.519682560,NaT,FEMALE,36.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF

In [9]:
samples['sessions'].sample(5)

,user_id,action,action_type,action_detail,device_type,secs_elapsed
40714,563.0,similar_listings,click,similar_listings,iPhone,-22587.0
14288,195.0,similar_listings,view,similar_listings,Windows Desktop,68695.0
46593,640.0,show,view,p3,Windows Desktop,112765.0
29321,402.0,identity,-unknown-,wishlist_content_update,Mac Desktop,-27290.0
46835,642.0,social_connections,data,user_profile,Mac Desktop,22477.0