In [1]:
from sdv import load_demo

In [2]:
metadata, tables = load_demo()

In [3]:
metadata

{'tables': [{'name': 'users',
   'primary_key': 'user_id',
   'fields': [{'name': 'user_id', 'type': 'id'},
    {'name': 'country', 'type': 'categorical'},
    {'name': 'gender', 'type': 'categorical'},
    {'name': 'age', 'type': 'numerical', 'subtype': 'integer'}]},
  {'name': 'sessions',
   'primary_key': 'session_id',
   'fields': [{'name': 'session_id', 'type': 'id'},
    {'name': 'user_id',
     'ref': {'field': 'user_id', 'table': 'users'},
     'type': 'id'},
    {'name': 'device', 'type': 'categorical'},
    {'name': 'os', 'type': 'categorical'}]},
  {'name': 'transactions',
   'primary_key': 'transaction_id',
   'fields': [{'name': 'transaction_id', 'type': 'id'},
    {'name': 'session_id',
     'ref': {'field': 'session_id', 'table': 'sessions'},
     'type': 'id'},
    {'name': 'timestamp', 'type': 'datetime', 'format': '%Y-%m-%d'},
    {'name': 'amount', 'type': 'numerical', 'subtype': 'float'},
    {'name': 'approved', 'type': 'boolean'}]}]}

In [4]:
tables

{'users':    user_id country gender  age
 0        0     USA      M   34
 1        1      UK      F   23
 2        2      ES   None   44
 3        3      UK      M   22
 4        4     USA      F   54
 5        5      DE      M   57
 6        6      BG      F   45
 7        7      ES   None   41
 8        8      FR      F   23
 9        9      UK   None   30,
 'sessions':    session_id  user_id  device       os
 0           0        0  mobile  android
 1           1        1  tablet      ios
 2           2        1  tablet  android
 3           3        2  mobile  android
 4           4        4  mobile      ios
 5           5        5  mobile  android
 6           6        6  mobile      ios
 7           7        6   table      ios
 8           8        6  mobile      ios
 9           9        8  tablet      ios,
 'transactions':    transaction_id  session_id           timestamp  amount  approved
 0               0           0 2019-01-01 12:34:32   100.0      True
 1               1           0 2019-01-01 12:42:21    55.3      True
 2               2           1 2019-01-07 17:23:11    79.5      True
 3               3           3 2019-01-10 11:08:57   112.1     False
 4               4           5 2019-01-10 21:54:08   110.0     False
 5               5           5 2019-01-11 11:21:20    76.3      True
 6               6           7 2019-01-22 14:44:10    89.5      True
 7               7           8 2019-01-23 10:14:09   132.1     False
 8               8           9 2019-01-27 16:09:17    68.0      True
 9               9           9 2019-01-29 12:10:48    99.9      True}

In [5]:
from sdv import SDV

sdv = SDV()
sdv.fit(metadata, tables)

2019-11-03 16:08:01,089 - INFO - modeler - Modeling users
2019-11-03 16:08:01,090 - INFO - metadata - Loading transformer CategoricalTransformer for field country
2019-11-03 16:08:01,091 - INFO - metadata - Loading transformer CategoricalTransformer for field gender
2019-11-03 16:08:01,092 - INFO - metadata - Loading transformer NumericalTransformer for field age
2019-11-03 16:08:01,108 - INFO - modeler - Modeling sessions
2019-11-03 16:08:01,109 - INFO - metadata - Loading transformer CategoricalTransformer for field device
2019-11-03 16:08:01,109 - INFO - metadata - Loading transformer CategoricalTransformer for field os
2019-11-03 16:08:01,121 - INFO - modeler - Modeling transactions
2019-11-03 16:08:01,122 - INFO - metadata - Loading transformer DatetimeTransformer for field timestamp
2019-11-03 16:08:01,122 - INFO - metadata - Loading transformer NumericalTransformer for field amount
2019-11-03 16:08:01,122 - INFO - metadata - Loading transformer BooleanTransformer for field approved
/home/xals/.virtualenvs/SDV/lib/python3.6/site-packages/pandas/core/frame.py:7143: RuntimeWarning: Degrees of freedom <= 0 for slice
  baseCov = np.cov(mat.T)
/home/xals/.virtualenvs/SDV/lib/python3.6/site-packages/numpy/lib/function_base.py:2451: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)
/home/xals/.virtualenvs/SDV/lib/python3.6/site-packages/numpy/lib/function_base.py:2451: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)
2019-11-03 16:08:01,883 - INFO - modeler - Modeling Complete

In [6]:
sdv.sample_all()

{'users':    user_id country gender  age
 0        0      UK      M   38
 1        1      FR      F   49
 2        2      BG      F   53
 3        3      UK    NaN   40
 4        4      ES      M   37,
 'sessions':    session_id  user_id  device       os
 0           0        0  mobile  android
 1           1        1  mobile      ios
 2           2        1   table      ios
 3           3        2  mobile      ios
 4           4        4  tablet      ios,
 'transactions':     transaction_id  session_id                     timestamp      amount  \
 0                0           2 2019-01-11 20:04:41.045274880   91.528609
 1                1           2 2019-01-11 20:04:41.295124992   81.582317
 2                2           2 2019-01-11 20:04:40.718006016  101.129837
 3                3           2 2019-01-11 20:04:41.010093824   87.197737
 4                4           2 2019-01-11 20:04:41.037239040   97.864023
 5                5           2 2019-01-11 20:04:41.007366656   92.988464
 6                6           2 2019-01-11 20:04:41.101156864   85.344030
 7                7           2 2019-01-11 20:04:40.705912064  102.165910
 8                8           2 2019-01-11 20:04:41.270179584   96.879576
 9                9           2 2019-01-11 20:04:41.050921216   78.120009
 10              10           2 2019-01-11 20:04:40.803478016   90.263667
 11              11           2 2019-01-11 20:04:40.929881600   78.976379

     approved
 0       True
 1       True
 2       True
 3       True
 4       True
 5       True
 6       True
 7       True
 8       True
 9       True
 10      True
 11      True  }